*{
    margin: 0;
    padding: 0;
}

.toggle-button {
    display: none;
}

html{
    height: 100%;
    background-color: rgb(153, 178, 185);
}

body{
    height: inherit;
}

#root{
    height: inherit;
}


.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    text-decoration: none;
}

.home-container{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    height: inherit;
    text-align: center;
    align-items: center;
    
}

.home-bg{
    height: 100%;
    width: 100vw;
    object-fit: cover;
    background-image: url("/images/dual-monitor-karta-mira-3840-x-1080-kontinenty-okean.jpeg");
    color: white;
}

.home-container p{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    margin-bottom: 20px;
    
}

.home-container h2{
    margin-top: 125px;
    margin-bottom: 80px;
    font-size: 36px;
    z-index: 1000;
}

.home-container button{
    margin-top: 80px;
    width: 200px;
}


.site-wrapper{
    display: flex;
    flex-direction: column;
    height: inherit;
}

.country-flag-container{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.donation-img{
    height: 350px;
    width: 350px;
}

.donation-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flag-list{
    display: flex;
    flex-direction: column;
    padding: 30px;
    display: flex;
    align-items: center;
    height: 225px;
    width: 223px;
}

.flag-list img{
    height: 150px;
    width: 225px;
}

.flag-list p{
    margin-top: 15px;
    word-wrap: break-word;
    text-align: center;
}

.flag-list button{
    margin-top: 20px;
    width: 100%;
}

.flag-description{
    margin-left: 50px;
    margin-right: 50px;
}


.navbar li{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 30px;
    background-color: rgb(4, 106, 60);
}

.search-container{
    display: flex;
    justify-content: center;
}

.country-container{
    display: flex;
    flex-direction: column;   
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    align-items: center;
    overflow-x: hidden;
    width: auto;
    
}



.country-container a{
    margin-bottom: 25px;
}

.country-container p{
    margin-bottom: 15px;
    margin-top: 15px;
}

.country-flag{
    height: 135px;
    width: 240px;
    margin-bottom: 30px;
}

.flag-container{
    display: flex;
    justify-content: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    width: 30%;
    border-style: groove;
    border-width: 5px;
    border-radius: 5px;
    padding: 15px;
}

.contact-form input{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.country-name{
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.country-flag-container{
    margin-left: 20px;
    margin-right: 20px;
}

.link{
    text-decoration: none;
    color: black;
}

.message-box{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}

h2{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.country-details-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    border-style: dashed;
    border-radius: 2px;
    margin-top: 40px;
    background-color:rgb(149, 129, 100);
}

#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#lightbox img{
    max-width: 80%;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
}

@media(max-width:1000px) {

    .country-flag{
        height: 150px;
        width: 280px;
        margin-bottom: 30px;
    }

    html { font-size: 13px; }

    .container-home-header{
        display: flex;
        flex-direction: column;
    }

    .nav-area {
        width: 100%;
        padding: 0;
        text-align: center;
        display: none;
    }

    .nav-area li{
        display: flex;
        flex-direction: column;
        padding: 0;
        line-height: 20px;
    }

    .toggle-button {
        display: flex;
    }

    #lightbox img{
        width: 100%;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}

